body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h1,h2,h3 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table,
th,td { 
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
}

#submit-btn { 
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    cursor: pointer;
    align-self: center;
}

#submit-btn:hover {
    background-color: blue;
}